# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Google OAuth token (sensitive!)
backend/token.json
backend/credentials.json


# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
*.swp
